body {
  font-family: "Gruppo", cursive;
  text-align: justify;
  display: flex;
  flex-direction: column;
  color: #ebfcfa;
  background-color: #2e9488;
}
.contactinfo ul {
  display: flex;
  justify-content: flex-end;
  margin: 3em;
}
.contactinfo li {
  margin-left: 80px;
  border-left: 2px solid #6D597A;
  border-bottom: 2px solid #6D597A;
}
.quickpath {
  background-color: #5d7f80;
  border: 2px solid #8d6a77;
  border-radius: 3px;
  box-shadow: 2px 1px 0px 0px #6D597A;
  margin: 1.2em;
}
.quickpath a {
  color: #ebfcfa;
}
.sobremim {
  border: 0.05em solid #8d6a77;
  border-radius: 0.5em;
  padding: 1em;
  margin: 1em;
  box-shadow: 0.2em 0.1em 1em 0.2em #6D597A;
}
.porqueumsite {
  border: 0.05em solid #8d6a77;
  border-radius: 0.5em;
  padding: 1em;
  margin: 1em;
  box-shadow: 0.2em 0.1em 1em 0.2em #6D597A;
}
.qualoobjetivo {
  border: 0.1em solid #8d6a77;
  border-radius: 0.5em;
  padding: 1em;
  margin: 1em;
  box-shadow: 0.2em 0.1em 1em 0.2em #6D597A;
}
